name: Simple Notify

on:
  schedule:
    # 每 3 天运行一次 (UTC 0点，北京时间早 8 点)
    - cron: '0 0 */3 * *'
  workflow_dispatch: # 允许手动测试

jobs:
  notify:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@v4

      - name: Set up Python
        uses: actions/setup-python@v5
        with:
          python-version: '3.9'

      - name: Install Requests
        run: pip install requests

      - name: Send Notification
        env:
          TG_BOT_TOKEN: ${{ secrets.TG_BOT_TOKEN }}
          TG_CHAT_ID: ${{ secrets.TG_CHAT_ID }}
        run: python notify.py
